# temporary/legacy files/folders
*.tmp
~*
# Quartus Project
/db/
/output_files/
/incremental_db/
neorv32_amp.qws
platform.sopcinfo
*.bak
.qsys_edit/
platform/

# VS Code config
/.vscode/

# simulation
/work/
*.o
wave.ghw
adc_tb

# measurement
neorv32_amp.dwf3work
