# temporary/legacy files/folders
*.tmp
~*
# Quartus Project
/db/
/output_files/
/incremental_db/
neorv32_amp.qws
platform.sopcinfo
*.bak
.qsys_edit/
platform/

# VS Code config
/.vscode/

# Software
/sw/*.bak
/sw/*.elf
/sw/*.bin
/sw/*.hex
/sw/*.asm
/sw/*.vhd

# simulation
build/
*.o
wave.ghw
adc_tb
neorv32_amp_tb
*.ghw
*.out

# measurement
neorv32_amp.dwf3work

.ipynb_checkpoints/

pdm_build/

dac_tb
